#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    behaviors {
        /* Mod on hold, key on tap. tap-preferred == "prefer_hold=false". */
        hm: homerow_mod {
            compatible = "zmk,behavior-hold-tap";
            display-name = "Homerow Mod";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <175>;
            bindings = <&kp>, <&kp>;
        };

        /* Layer on hold, key on tap. Same timing as above. */
        hl: homerow_layer {
            compatible = "zmk,behavior-hold-tap";
            display-name = "Homerow Layer";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <175>;
            bindings = <&mo>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            display-name = "Base";
            bindings = <
                &kp ESC         &kp Q           &kp W           &kp E           &kp R           &kp T           &kp Y           &kp U           &kp I           &kp O           &kp P           &kp DEL
                &kp MINUS       &kp A           &kp S           &kp D           &kp F           &kp G           &kp H           &kp J           &kp K           &kp L           &kp SEMI        &kp SQT
                &hm LCTRL Z     &hl 1 X         &hm LALT C      &hm LSHFT V     &kp B           &kp N           &hm RSHFT M     &hm RALT COMMA  &hl 1 DOT       &hm RCTRL KC_SLSH
                &kp TAB         &kp BSPC        &kp C_MUTE      &kp SPACE       &kp RET
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        layer_2 {
            display-name = "Layer 2";
            bindings = <
                &trans          &kp N1          &kp N2          &kp N3          &kp N4          &kp N5          &kp HOME        &kp PG_DN       &kp PG_UP       &kp END         &kp BSLH        &trans
                &kp EQUAL       &kp N6          &kp N7          &kp N8          &kp N9          &kp N0          &kp LEFT        &kp DOWN        &kp UP          &kp RIGHT       &kp LBKT        &kp RBKT
                &trans          &trans          &trans          &trans          &kp CAPS        &kp GRAVE       &trans          &trans          &trans          &trans
                &trans          &trans          &trans          &trans          &trans
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};
